#topic-card-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
#topic-card-header .card-header-text {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 0.5rem;
}